$line-height: 1.4em;

.container {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.line {
  min-height: $line-height;
  height: 1.5em;
}

.line:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.formattedMessage {
  margin: 0;
  display: block;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
}

.wrapper {
  height: 10 * $line-height;
  max-height: 30vh;
  overflow-y: auto;
}

.log {

}

.warn {
  background-color: yellow;
}

.error {
  background-color: #ff7878;
  width: 100%;
}