@import '../variables.scss';
@import './code-editor-variables.scss';

.textEditor {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  line-height: $line-height;
  padding: 0 0 0 4px;
  border-left: 1px solid #434343;
}

.textEditor,
.container {
  flex: 1;
  background-color: $background-colour;
  color: $foreground-colour;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 20px 80px;

  @media only screen and (max-width: $small-screen) {
    padding: 8px 20px 8px 40px;
  }
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}