@import '../variables.scss';
@import './code-editor-variables.scss';

.textEditor {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
  line-height: $line-height;
}

.textEditor,
.container {
  flex: 1;
  background-color: $background-colour;
  color: $foreground-colour;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.content {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}