@import './code-editor-variables.scss';

.lineNumbers {
  position: absolute;
  margin-left: -48px;
  text-align: right;
  display: flex;
  flex-direction: column;
  line-height: $line-height;
  letter-spacing: normal;
}
